.header {
    background-color: $red;
    margin-bottom: 50px;
    .header__wrapper {
        padding:5px 0;
        width: 100%;
        margin: 0 auto;
        max-width:1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;
        align-items: center;
        .header__column {
            i {
                color: white;
                font-size: 40px;
            }
            &:nth-child(2) {
                width: 100%;
                justify-self: center;
            }
            &:last-child {
                justify-self: center;
            }
            ul {
                font-weight: 600;
                display: flex;
                color: white;
                text-transform: uppercase;
                li:not(:last-child) {
                    margin-right: 15px;
                }
            }
            form {
                width: 100%;
                display: flex;
                input {
                    flex:1;
                    padding: 7px 10px;
                    width: 100%;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    color: $black;
                    &::placeholder {
                        font-weight: 300;
                        color: (0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}