extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 searching for: #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No videos Found
        else 
            each video in videos
                +videoBlock(video)